<h1>New List</h1>

<%= form_with model: @list do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<form class="new_list" id="new_list" action="/lists" accept-charset="UTF-8" method="post" data-remote="true">
  <input type="hidden" name="authenticity_token" value="fUrBymmVzFG49YTQE9xKfohttEtW7eHnui2WT6KWpRXT6g9dz73lhZ7bRdHH+RuV/TFoB23OG5l1eo731o8l6g==">
  <label for="list_name"></label>
  <input type="text" name="list[name]" id="list_name">
